.react-native
  background-image: url('../images/react-native.png')

.oculus
  background-image: url('../images/oculus.jpg')

.blessed
  background-image: url('../images/blessed.gif')

.log
  background-image: url('../images/log.png')

.architecture
  background-image: url('../images/architecture.jpg')
