doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Think React from Out of the Box
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1(style="margin-bottom: 50px") Think React from Out of the 📦
        
        div.social
          img(src="./images/twitter.png")
          h4 @diegomura
        div.social
          img(src="./images/github.png")
          h4 diegomura
      
      section
        h2 Just for UIs?
        img.small(src="./images/react-description.png")
      
      section.just-title(data-bespoke-backdrop='react-native')
        img.small(src="./images/react-logo.png")
        h2.white React Native
      
      section.just-title(data-bespoke-backdrop='oculus')
        img.small(src="./images/react-logo.png")
        h2.white ReactVR
      
      section.just-title(data-bespoke-backdrop='blessed')
        img.small(src="./images/react-logo.png")
        h2.white react-blessed
    
      section.just-title(data-bespoke-backdrop='log')
        img.small(src="./images/react-logo.png")
        h2.white react-log
      
      section
        h2 Advantages for using React 
        ul
          li Hides complex API's integration
          li Known syntax
          li Easy serializable interfaces
    
      section.just-title(data-bespoke-backdrop='architecture')
        h1 React architecture
        
      section
        h2 React core
        h3 Includes the API necessary to define Components, and no platform-specific code
      
      section
        h2 React Elements
        h3 A description of what needs to be rendered
      
      section
        h2 React Components
      
      section
        h4 Component types
        img(src="./images/tree1.png")
      
      section
        h4 Component types
        img(src="./images/tree2.png")
      
      section
        h4 Component types
        h3 Compisite Components
        h3 Host Components
      
      section
        h2 Rederers
        h3 Manage how a React tree turns into the underlying platform calls
      
      section
        h2 Mounter
        h3 Renderer's main method
      
      section
        h2 Reconcilier
      
      section
        h2 Architecture diagram
        
      section
        h2 Let's build a renderer!
        
      section
        h2 Reflections
        
        ul
          li More uses of React in the Future?
          li Renderers are an excelent way of getting familiar with React source code
        
      section
        h1(style="margin-bottom: 50px") Thanks!
        
        div.social
          img(src="./images/twitter.png")
          h4 @diegomura
        div.social
          img(src="./images/github.png")
          h4 diegomura
        
    script(src='build/build.js')
